<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjw.reactivecommunityproject.web.system.role_management.mapper.SystemRoleManagementMapper">
    <select id="selectList" parameterType="PaginationOffsetVO" resultType="SystemRoleManagementListEntity">
        /* SystemRoleManagementMapper.selectList() */
        SELECT  `uid`
              , `name`
              , `description`
              , `enabled`
              , `created_user_uid`
              , `created_utc_at`
              , `updated_user_uid`
              , `updated_utc_at`
        FROM rc_manage_role
        <where>
            <if test="condition.uid != null">
                AND `uid` LIKE CONCAT('%', #{condition.uid, jdbcType=VARCHAR}, '%')
            </if>
            <if test="condition.name != null">
                AND `name` LIKE CONCAT('%', #{condition.name, jdbcType=VARCHAR}, '%')
            </if>
            <if test="condition.startDate != null">
                AND `created_utc_at` <![CDATA[>=]]> #{condition.startDate, jdbcType=TIMESTAMP}
            </if>
            <if test="condition.endDate != null">
                AND `created_utc_at` <![CDATA[<=]]> #{condition.endDate, jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY `updated_utc_at` DESC
        LIMIT #{pagination.limit, jdbcType=INTEGER} OFFSET #{pagination.offset, jdbcType=INTEGER}
    </select>

    <select id="selectDetail" resultType="SystemRoleManagementDetailEntity">
        /* SystemRoleManagementMapper.selectDetail() */
        SELECT `uid`
             , `name`
             , `description`
             , `enabled`
             , `created_user_uid`
             , `created_utc_at`
             , `updated_user_uid`
             , `updated_utc_at`
        FROM rc_manage_role
        WHERE `uid` = #{uid, jdbcType=BIGINT}
    </select>

    <select id="isExistByName" resultType="boolean">
        /* SystemRoleManagementMapper.isExistByName() */
        SELECT COUNT(*) > 0
        FROM rc_manage_role
        <where>
            `name` = #{name, jdbcType=VARCHAR}
            <if test='uid != null'>
                AND `uid` != #{uid, jdbcType=TINYINT}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="SystemRoleManagementInsertEntity">
        /* SystemRoleManagementMapper.insert() */
        INSERT INTO rc_manage_role( `uid`
                                  , `name`
                                  , `description`
                                  , `enabled`
                                  , `created_user_uid`
                                  , `created_utc_at`
                                  , `updated_user_uid`
                                  , `updated_utc_at`)
        VALUES ( #{uid, jdbcType=TINYINT}
               , #{name, jdbcType=VARCHAR}
               , #{description, jdbcType=VARCHAR}
               , 'Y'
               , #{userUid, jdbcType=VARCHAR}
               , CURRENT_TIMESTAMP()
               , #{userUid, jdbcType=VARCHAR}
               , CURRENT_TIMESTAMP())
    </insert>

    <select id="isExistByUid" resultType="boolean">
        /* SystemRoleManagementMapper.isExistByUid() */
        SELECT COUNT(*) > 0
        FROM rc_manage_role
        WHERE `uid` = #{uid, jdbcType=TINYINT}
    </select>

    <select id="isMaxUidByRole" resultType="boolean">
        /* SystemRoleManagementMapper.isDuplicateByUid() */
        SELECT `AUTO_INCREMENT` >= 127
        FROM INFORMATION_SCHEMA.TABLES
        WHERE `TABLE_NAME` = 'rc_manage_role'
    </select>

    <select id="isOwner" resultType="boolean">
        /* SystemRoleManagementMapper.isOwner() */
        SELECT COUNT(*) > 0
        FROM rc_manage_role
        WHERE `uid` = #{uid, jdbcType=TINYINT}
          AND `created_user_uid` = #{userUid, jdbcType=VARCHAR}
    </select>

    <delete id="delete">
        /* SystemRoleManagementMapper.delete() */
        DELETE
        FROM rc_manage_role
        WHERE `uid` = #{uid, jdbcType=TINYINT}
    </delete>

    <update id="update" parameterType="SystemRoleManagementModifyEntity">
        /* SystemRoleManagementMapper.update() */
        UPDATE rc_manage_role
        SET `name`             = #{name, jdbcType=VARCHAR}
          , `description`      = #{description, jdbcType=VARCHAR}
          , `enabled`          = #{enabled, jdbcType=VARCHAR}
          , `updated_user_uid` = #{userUid, jdbcType=VARCHAR}
          , `updated_utc_at`   = CURRENT_TIMESTAMP()
        WHERE `uid` = #{uid, jdbcType=TINYINT}
    </update>
</mapper>