<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjw.reactivecommunityproject.web.bbs.mapper.BbsMapper">
    <select id="isExistPath" resultType="boolean">
        /* BbsMapper.isExistPath() */
        SELECT COUNT(*) > 0
        FROM rc_board_bbs
        <where>
            `path` = #{path, jdbcType=VARCHAR}
            <if test='uid != null'>
                AND `UID` != #{uid, jdbcType=BIGINT}
            </if>
        </where>
    </select>

    <select id="isExistName" resultType="boolean">
        /* BbsMapper.isExistName() */
        SELECT COUNT(*) > 0
        FROM rc_board_bbs
        <where>
            `name` = #{name, jdbcType=VARCHAR}
            <if test='uid != null'>
                 AND `UID` != #{uid, jdbcType=BIGINT}
             </if>
         </where>
    </select>

    <insert id="insert" parameterType="BbsInsertEntity">
        /* BbsMapper.insert() */
        INSERT INTO rc_board_bbs( `path`
                                , `name`
                                , `description`
                                , `enabled`
                                , `create_user_uid`
                                , `updated_user_uid`)
        VALUES ( #{path, jdbcType=VARCHAR}
               , #{name, jdbcType=VARCHAR}
               , #{description, jdbcType=VARCHAR}
               , 'Y'
               , #{userUid, jdbcType=VARCHAR}
               , #{userUid, jdbcType=VARCHAR})

    </insert>

    <update id="update" parameterType="BbsModifyEntity">
        UPDATE rc_board_bbs
        SET `path` = #{path, jdbcType=VARCHAR}
          , `name` = #{name, jdbcType=VARCHAR}
          , `description` = #{description, jdbcType=VARCHAR}
          , `enabled` = #{enabled, jdbcType=VARCHAR}
        WHERE `uid` = #{uid, jdbcType=BIGINT}
    </update>
</mapper>