<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjw.reactivecommunityproject.web.system.environment_management.mapper.SystemEnvironmentManagementMapper">
    <select id="selectList" parameterType="PaginationVO" resultType="SystemEnvironmentManagementListEntity">
        SELECT  `id`,
                `type`,
                `value`,
                `category`,
                `order`,
                `created_user_uid`,
                `created_utc_at`,
                `updated_user_uid`,
                `updated_utc_at`
        FROM rc_common_env_code
        <where>
            <if test="pagination.id != null">
                AND `id` LIKE CONCAT('%', #{pagination.id, jdbcType=VARCHAR}, '%')
            </if>
            <if test="pagination.type != null">
                AND `type` LIKE CONCAT('%', #{pagination.type}, '%')
            </if>
            <if test="pagination.value != null">
                AND `value` LIKE CONCAT('%', #{pagination.value}, '%')
            </if>
            <if test="pagination.category != null">
                AND `category` LIKE CONCAT('%', #{pagination.category}, '%')
            </if>
            <if test="pagination.startDate != null and endDate != null">
                AND `created_utc_at` <![CDATA[>=]]> #{pagination.startDate}
            </if>
            <if test="pagination.endDate != null">
                AND `created_utc_at` <![CDATA[<=]]> #{pagination.endDate}
            </if>
        </where>
        ORDER BY `updated_utc_at` DESC
        LIMIT #{pagination.limit, jdbcType=INTEGER} OFFSET #{pagination.offset, jdbcType=INTEGER}
    </select>
</mapper>